*{
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #04112e;
}

#video-div {
    height: 340px;
    width: 320px;
    border: 2px solid red;
  }
  
  video {
    width: 100%;
    height: 100%;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
 
  .title {
    padding-top: 20px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900;
    color: #66FCF1;
  }
  .sub-title{
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;

  }
  /* #webcam-container{
    padding-top: 10px;
    padding-left: 500px;
    
  } */
  .btn-success{
    padding: 10px 40px;
  }
  .btn-danger{
    padding: 10px 40px;
    margin-top: -200px;
  } 
 section{
   background-color: #04112e;
   padding-left: 47%;
   padding-top: 5%;
  }
